/* start--清除默认样式，使用怪异模型--start */
html,
body
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* 文字行数 */
.line-1 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.line-2 {
	-webkit-line-clamp: 2;
}

.line-3 {
	-webkit-line-clamp: 3;
}

.line-2,
.line-3 {
	overflow: hidden;
	word-break: break-all;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

/* 默认背景颜色 */
page {
	background-color: #f8f8f8;
	padding: 15px;
}

/* 主容器 */
.container {
	/* 满高度（100vh） - 头部（60px） - page 的 padding (30px) */
	height: calc(100vh - 90px);
	padding: 15px;
	border-radius: 5px;
	background-color: #ffffff;
}

/* 小屏幕下主容器占满 */
@media screen and (max-width: 768px) {
	page {
		padding: 0;
	}
	.container {
		height: calc(100vh - 60px);
	}
}
