/* start--清除默认样式，使用怪异模型--start */
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: cursive;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* 文字行数 */
.line-1 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.line-2 {
	-webkit-line-clamp: 2;
}

.line-3 {
	-webkit-line-clamp: 3;
}

.line-2,
.line-3 {
	overflow: hidden;
	word-break: break-all;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

/* 后台页面主容器 */
.container {
	width: 100%;
	/* 满高度（100vh） - 头部（60px）*/
	height: calc(100vh - 60px);
	padding: 15px 15px 15px 240px;
	transition: padding .3s ease;
	/* 下面这个绝对定位很重要，去掉后 element 表格宽度不能自适应 */
	position: absolute;
	top: 0;
	left: 0;
}

/* 前台页面主容器 */
.main {
	width: 100%;
	height: 100vh;
	padding: 30px 330px 30px 30px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

/* 小屏幕下主容器占满 */
@media screen and (max-width: 768px) {

	.container,
	.main {
		padding: 15px;
	}
}
